
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is an admin or supervisor
    function isAdmin(userId) {
      return get(/databases/$(database)/documents/operators/$(userId)).data.role in ['admin', 'supervisor'];
    }

    // Helper function to check if a user is logged in
    function isSignedIn() {
      return request.auth != null;
    }

    // Operators can be read by any signed-in user, but only modified by admins or themselves.
    match /operators/{userId} {
      allow read: if isSignedIn();
      allow create, update: if isAdmin(request.auth.uid);
      allow delete: if isAdmin(request.auth.uid);
    }
    
    // Only signed-in users can access job orders
    match /jobOrders/{jobId} {
        allow read, write: if isSignedIn();
    }

    // Raw materials can be read by signed-in users, but only modified by admins/supervisors
    match /rawMaterials/{materialId} {
        allow read: if isSignedIn();
        allow create, update, delete: if isAdmin(request.auth.uid);
    }

    // Withdrawals can be read by signed-in users, but only created/modified by them, and only deleted by admins
     match /materialWithdrawals/{withdrawalId} {
      allow read, create: if isSignedIn();
      allow update: if isSignedIn(); // Operator can update their own work
      allow delete: if isAdmin(request.auth.uid);
    }
    
    // Configuration can be read by anyone signed in, but only written by admins.
    match /configuration/{configId} {
        allow read: if isSignedIn();
        allow write: if isAdmin(request.auth.uid);
    }
    
    // Workstations and templates can be read by anyone signed in, written by admins
    match /{collection}/{docId} 
      where collection in ['workstations', 'workPhaseTemplates', 'workCycles', 'departments', 'packaging'] {
        allow read: if isSignedIn();
        allow write: if isAdmin(request.auth.uid);
    }
    
    // System settings can only be accessed by admins
    match /system/{docId} {
        allow read, write: if isAdmin(request.auth.uid);
    }
    
     // Problem reports can be created by any signed-in user, but only managed by admin/supervisor
    match /productionProblemReports/{reportId} {
      allow create: if isSignedIn();
      allow read, update, delete: if isAdmin(request.auth.uid);
    }
    
    // Non-conformity reports can be created by any signed-in user, but only managed by admin/supervisor
    match /nonConformityReports/{reportId} {
      allow create: if isSignedIn();
      allow read, update, delete: if isAdmin(request.auth.uid);
    }

  }
}
